body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    width: 100%;
    background: rgb(230, 127, 127);
}
ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: right;
}
ul li .leins:hover{
    text-decoration: none;
    color: rgb(136, 127, 127);
}
ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px rgb(136, 127, 127);
    border-bottom: 4px  rgb(136, 127, 127);
    padding: 20px 0;
    margin: 0 20px;
}
ul li.active a{
    color: #e61515;   
    border-bottom: 4px solid #e61515;
    padding: 6px 0;
}
ul li:hover{
    cursor: pointer;
    text-decoration: none;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
}
ul li a {
    color: rgb(104, 8, 27);
    text-decoration: none;
}
.toggle{
    width: 100%; 
    padding: 10px 20px;
    background: rgb(121, 90, 90);
    text-align: right;
    box-sizing: border-box;
    color: #ffff;
    font-size: 30px;
    display: none;
}
.toggle1{
    width: 100%; 
    padding: 10px 20px;
    text-align: left;
    box-sizing: border-box;
    background: rgb(230, 127, 127);
    font-size: 50px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("C:/Users/YUKO/Desktop/Barkat/image2/28.jpg") ;
    background-size: cover;
    height: 200px;
}
@media (max-width:800px)
{
    .toggle{
        display: block;
    }
    ul{
      width: 100%; 
      display: none;  
    }
    ul li {
      display: block;
      text-align: center;
    }
    .active{
        display: block;
    }
    footer{
        display: block;
        text-align: center;
    }
}
footer{
    width: 100%;
    text-align: center;
    font-size: 50px;
    height: 500px;
    background: rgb(230, 127, 127);
    color: rgb(26, 25, 25);
    text-decoration: none;
}
.last-links{
    text-align: center;
    font-size: 15px;
    list-style: none;
    text-align: center;
}
a{
    color: rgb(104, 8, 27);
}
.liens{
    text-decoration: none;
    color:  rgb(26, 25, 25); 
}
.icon{
    font-size: 20px;
}
.foot{
    padding: 3%;
}
.Barrederecherche{
    font-size: 15px;
}
.foot i{
    width: 100px;
    color: rgb(224, 207, 207);
}section{
    height: 1000px;
    width: 100%;
    text-align: center;
    background: #d3c4c4;
    margin: auto;
    padding: 20px;
    border-radius: 40px 40px 0px 0px;  
    box-shadow: 0px 0px 20px 0px #000;
}